a {
    cursor: pointer;
}

.fs-16 {
    font-size: 16pt;
}

.no-line {
    text-decoration: none;
}

.contorno {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

.font-roboto {
    font-family: Roboto;
}

.bg-black {
    background-color: black;
}